.body {
  font-family: sans-serif;
  margin: 0;
  display: flex; /* Center container in viewport */
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-areas:
    'title'
    'band'
    'text-song'
    'authors' ;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.band {
  grid-area: band;
  display: flex;
 justify-content: center;
 text-decoration: overline underline;
 font-style: italic;
}

.text-song {
  grid-area: text-song;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
}

.authors {
  grid-area: authors;
  display: flex;
  font-style: italic;
  justify-content: right;
}

